.container1,
.container2,
.container3,
.container4,
.container5 {
  width: 95vw;
  height: 95vh;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
}

.firstGrid {
  border: 2px solid black;
  min-height: 10%;
  min-width: 15%;
  flex: auto;
}
.firstGrid:hover {
  background-color: brown;
  transition: all 0.5s ease-in-out;
}

.secondGrid {
  border: 2px solid black;
  min-height: 8%;
  min-width: 12%;
  flex: auto;
}
.secondGrid:hover {
  background-color: brown;
  transition: all 0.5s ease-in-out;
}

.thirdGrid {
  border: 2px solid black;
  min-height: 6%;
  min-width: 9%;
  flex: auto;
}
.thirdGrid:hover {
  background-color: brown;
  transition: all 0.5s ease-in-out;
}

.fourthGrid {
  border: 2px solid black;
  min-height: 4%;
  min-width: 6%;
  flex: auto;
}
.fourthGrid:hover {
  background-color: brown;
  transition: all 0.5s ease-in-out;
}
.reset {
  position: absolute;
  right: 20%;
  font-weight: bolder;
}

.fifthGrid {
  border: 2px solid black;
  min-width: 3.5%;
  min-height: 2.5%;
  flex: auto;
}
.fifthGrid:hover {
  background-color: brown;
  transition: all 0.5s ease-in-out;
}
