.container {
  width: 95vw;
  height: 95vh;
  border: 5px solid black;
  display: none;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
}
.container1 {
  width: 95vw;
  height: 95vh;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
}
.container2 {
  width: 95vw;
  height: 95vh;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
}
.container3 {
  width: 95vw;
  height: 95vh;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
}

.grid_zero {
  border: 2px solid black;
  min-height: 20%;
  min-width: 20%;
  flex: auto;
}
.grid_zero:hover {
  background-color: brown;
  transition: all 0.5s ease-in-out;
}

.firstGrid {
  border: 2px solid black;
  min-height: 10%;
  min-width: 15%;
  flex: auto;
}
.firstGrid:hover {
  background-color: brown;
  transition: all 0.5s ease-in-out;
}

.secondGrid {
  border: 2px solid black;
  min-height: 8%;
  min-width: 12%;
  flex: auto;
}
.secondGrid:hover {
  background-color: brown;
  transition: all 0.5s ease-in-out;
}

.thirdGrid {
  border: 2px solid black;
  min-height: 6%;
  min-width: 9%;
  flex: auto;
}
.thirdGrid:hover {
  background-color: brown;
  transition: all 0.5s ease-in-out;
}

.reset {
  position: absolute;
  right: 20%;
  font-weight: bolder;
}
