.container {
  width: 1000px;
  height: 1000px;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
}

.startGrid {
  border: 2px solid black;
  min-height: 20%;
  min-width: 20%;
  flex: auto;
}
.startGrid:hover {
  background-color: brown;
  transition: all 0.5s ease-in-out;
}
